# API Keys
GROQ_API_KEY=
PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=
MAILERLITE_GROUP_TALLER=190985916589803030
MAILERLITE_GROUP_GUIA_NBLM=195011205156308534
MAILERLITE_BOTTLENECK_GROUP_ID=200080858699269701
MAILERLITE_PAGE_COMMERCIAL_GROUP_ID=200085259962811937
