@import "tailwindcss";

@theme {
  --color-deep: #0F172A;
  --color-teal: #0D9488;
  --color-orange: #EA580C;
  --color-gray-mid: #64748B;
  --color-gray-light: #E2E8F0;
}

@layer base {
  body {
    @apply bg-[#F8FAFC] text-deep font-sans;
  }
    /* Ajuste de escala para que no sea tan grande */
  h1 { @apply text-4xl font-bold tracking-tight; }
  h2 { @apply text-2xl font-bold tracking-tight; }
  p { @apply text-sm leading-relaxed text-gray-600; }
}